*.bak
*~
pdfview/bin/
pdfview/gen/
pdfview/obj/
pdfview/libs/
pdfview/deps/freetype-2.4.10/
pdfview/deps/jbig2dec-0.11/
pdfview/deps/jpeg-8d/
pdfview/deps/mupdf-a242b4cf1123910c4dba18c75a77f28c5f6d8f33/
pdfview/deps/openjpeg-1.5.1/
pdfview/tests/bin/
pdfview/tests/gen/